/* Set Global values for dev happiness and overall consistency */
:root {
    /* Set the main text color */
    --textCol:#fff; 

    /* Set the background color */
    --bgCol:#242424;

    /* Set the backround color for other elements  */
    --panelCol:#363636;
}